body{
    margin: 0;
    text-align: center;
    font-family: sans-serif;
    font-family: sans-serif;
    color: #40514E;
}

a {
    color: #11999E;
}

a:hover {
    color: #EAF6F6;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Permanent Marker', sans-serif;
    font-size: 4rem;
    color: #66BFBF;
    line-height: 2;
}

h2 {
    font-family: 'Satisfy', sans-serif;
    font-size: 2rem;
    color: #66BFBF;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Satisfy', sans-serif;
    color: #11999E;
}

hr {
    border-style: dotted none none;
    border-width: 8px;
    border-color: #EAF6F6;
    width: 70px;
    margin: 100px auto;
}

.biography {
    width: 30%;
    margin: auto;
}

.main-subtitle {
    font-weight: normal;
}

.profile-img {
    height: 200px;
}

.top-container {
    background-color: #EAF6F6;
    padding-top: 100px;
    position: relative;
}

.middle-container {
    padding: 100px 0;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 40px 0 20px;
    color: #EAF6F6;
}

.top-cloud-img {
    position: absolute;
    right: 28%;
    top: 9%;
}

.bot-cloud-img {
    position: absolute;
    left: 28%;
}

.mountain-img {
    display: block;
    margin: auto;
}

.skill-1-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.skill-2-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.btn {
    background: #66BFBF;
    background-image: -webkit-linear-gradient(top, #66BFBF, #11999E);
    background-image: -moz-linear-gradient(top, #66BFBF, #11999E);
    background-image: -ms-linear-gradient(top, #66BFBF, #11999E);
    background-image: -o-linear-gradient(top, #66BFBF, #11999E);
    background-image: -webkit-gradient(to bottom, #66BFBF, #11999E);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 16px;
    font-weight: 100;
    padding: 10px 16px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }

 .footer-link {
     font-size: 16px;
     font-weight: bold;
     margin: 16px;
     text-decoration: none;
 }

 .credits {
    font-size: 11px;
 }

 .credits-link {
     text-decoration: none;
     color: #EAF6F6;
 }

 .contact-message {
     width: 40%;
     margin: 40px auto 60px;
 }